<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>{{.Title}}</title>
<meta name="robots" content="index,follow,archive">
<meta name="keywords" content="{{.MetaKeywords}}"/>
<meta name="description" content="{{.MetaDescription}}"/>
{{/*<meta name="copyright" content="BookSet"/>*/}}
{{/*<link rel="canonical" href="{{.Conf.Server}}">*/}}
{{/*<link rel="apple-touch-icon" href="/static/so/images/logo@48.png">*/}}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Window-target" content="_top"/>

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/main.css?version={{$.Version}}" rel="stylesheet">


{{/*<link rel="icon" type="image/png" href="/static/so/images/logo@48.png"/>*/}}
<link type="text/css" rel="stylesheet" href="/static/so/css/base.css"/>
{{/*<link type="text/css" rel="stylesheet" href="{{.Conf.StaticServer}}/css/base.css?{{.Conf.StaticResourceVersion}}"/>*/}}
<meta property="og:locale" content="zh_CN"/>
<meta property="og:title" content="{{.Title}}"/>
<meta property="og:description" content="{{.MetaDescription}}"/>
<meta property="og:image" content="/static/so/images/logo@128.png"/>
{{/*<meta property="og:url" content="{{.Conf.Server}}"/>*/}}
<meta property="og:site_name" content="BookSet"/>
{{/*<meta name="twitter:card" content="summary_large_image"/>*/}}
{{/*<meta name="twitter:description" content="{{.MetaDescription}}"/>*/}}
{{/*<meta name="twitter:title" content="{{.Title}}"/>*/}}
{{/*<meta name="twitter:image" content="/static/images/logo@128.png"/>*/}}
{{/*<meta name="twitter:url" content="{{.Conf.Server}}"/>*/}}
{{/*<meta name="twitter:site" content="@b3logos"/>*/}}
{{/*<meta name="twitter:creator" content="@b3logos"/>*/}}
{{/*<meta name="baidu-site-verification" content="cVEZLSSXCD" />*/}}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137727811-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137727811-1');
</script>


<!-- adsense -->
<script data-ad-client="ca-pub-5119064586294264" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>