appname = mbook
httpport = 8080
runmode = dev

#*******************
#Session
#*******************
sessionon = true
sessionname = mbook
sessionprovider=file
sessionproviderconfig=store/session


#*******************
#MySQL配置
#*******************
# 主库
db_w_host = 47.240.43.105
db_w_port = 3306
db_w_username = mbook
db_w_password = eXsrxDGmehMRtiRR
db_w_database = mbook

# 读库


store_type = local

copyrequestbody = true


# 谷歌浏览器，用于发布内容的时候渲染未被渲染的markdown。建议安装最新版的Chrome浏览器，并把Chrome浏览器加入系统环境变量。
# 使用Chrome的headless去处理。之前考虑使用phantomjs的，但是phantomjs有些小问题，不如Chrome强大。
# chrome=chromium-browser
chrome=/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome
